<form [formGroup]="createTypeForm">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">
                        Descripción (*)</label>
                    <input type="text" placeholder="Descripcion" class="form-control" formControlName="description"
                        maxlength="200">

                    <div
                        *ngIf="createTypeForm.controls.description.invalid && createTypeForm.controls.description.touched">
                        <small id="required-description" class="text-left"
                            *ngIf="createTypeForm.controls.description.errors?.required">
                            Se requiere descripción</small>
                        <small id="minLenght-description" class="text-left"
                            *ngIf="createTypeForm.controls.description.errors?.minlength">
                            La longitud minima es 5 caracteres</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group" style="text-align:center  ;">
                    <label for="recipient-name" class="col-form-label">Fondo</label>

                    <div class="col-form-label"> <input type="color" formControlName="backgroundColor"></div>
                    <div
                        *ngIf="createTypeForm.controls.backgroundColor.invalid && createTypeForm.controls.backgroundColor.touched">
                        <small id="required-background" class="text-left"
                            *ngIf="createTypeForm.controls.backgroundColor.errors?.required">
                            Se requiere fondo</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group" style="text-align:center  ;">
                    <label for="recipient-name" class="col-form-label">Borde</label>
                    <div class="col-form-label"> <input type="color" formControlName="borderColor"></div>

                    <div
                        *ngIf="createTypeForm.controls.borderColor.invalid && createTypeForm.controls.borderColor.touched">
                        <small id="required-border" class="text-left"
                            *ngIf="createTypeForm.controls.borderColor.errors?.required">
                            Se requiere borde</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex  justify-content-center center-timepicker">
        <div class="form-group hour">
            <label for="labelHourStart">Hora Inicio</label>
            <timepicker formControlName="start" [showMeridian]="false" [showSpinners]="true"
                (isValid)=" isInvalidRangeHour()">
            </timepicker>
            <div *ngIf="createTypeForm.controls.start.errors?.required">
                <small id="required-start">Se requiere una hora inicio</small>
            </div>
        </div>

        <div class="form-group">
            <label for="labelHourEnd"> Hora Fin</label>
            <timepicker formControlName="end" [showMeridian]="false" [showSpinners]="true"
                (isValid)=" isInvalidRangeHour()">
            </timepicker>
            <div *ngIf="createTypeForm.controls.end.errors?.required">
                <small id="required-end">Se requiere una hora de fin</small>
            </div>
        </div>
        <div class="form-group">
        </div>
    </div>

    <div class="d-flex  justify-content-center center-timepicker" *ngIf="isInvalidRangeHour()" id="invalid-range-hour">
        <small>Rango de horas no permitido</small>
    </div>


    <div class="modal-footer">
        <button type="submit" id="btn-create-type" class="btn btn-primary" [disabled]="createTypeForm.invalid || isInvalidRangeHour()"
            (click)="createType()">Crear Tipo</button>
    </div>
</form>