<div class="wrapper">
  <div class="sidebar primary" data="blue" *ngIf="!enableNavBar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-panel" data="blue" [class]="enableNavBar ? 'mobile' : '' ">
    <app-navbar *ngIf="!enableNavBar"></app-navbar>
    <div [@routeAnimations]="getRouteAnimationData()" class="router-animation">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer *ngIf="!enableNavBar"></app-footer>
</div>

<app-navigation-bar *ngIf="enableNavBar" class="navigation-mobile"></app-navigation-bar>