<br>
<div class=" col-lg-4 col-md-6 ml-auto mr-auto" style="text-align: center;" id="bienvenido">
  <h1 id="titleChangePassword">Cambio de Contraseña</h1>
</div>

<div class="container mt--8 pb-5  ">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card  shadow border-0" [style]="darkTheme ? 'background: rgb(30 31 50)' : '' ">
        <div class="card-header bg-transparent pb-5">

          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <p>Ingrese sus credenciales</p>
            </div>
            <form role="form" [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">

              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="tim-icons icon-lock-circle"></i></span>
                  </div>
                  <input class="form-control" formControlName="oldPassword" placeholder="Contraseña Actual" maxlength="128"
                    type="password">

                </div>
                <div
                  *ngIf="changePasswordForm.controls.oldPassword.invalid && changePasswordForm.controls.oldPassword.touched">
                  <small id="msgOldPasswordMin" class="text-left"
                    *ngIf="changePasswordForm.controls.oldPassword.errors?.minlength">
                    La longitud minima es 6 caracteres</small>
                  <small id="msgOldPasswordReq" class="text-left"
                    *ngIf="changePasswordForm.controls.oldPassword.errors?.required">
                    Se requiere ingresar contraseña actual</small>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="tim-icons icon-lock-circle"></i></span>
                  </div>
                  <input class="form-control" formControlName="newPassword" placeholder="Nueva Contraseña" maxlength="128"
                    type="password">
                </div>
                <div
                  *ngIf="changePasswordForm.controls.newPassword.invalid && changePasswordForm.controls.newPassword.touched">
                  <small id="msgNewPassMin" class="text-left"
                    *ngIf="changePasswordForm.controls.newPassword.errors?.minlength">
                    La longitud minima es 6 caracteres </small>
                  <small id="msgNewPassReq" class="text-left"
                    *ngIf="changePasswordForm.controls.newPassword.errors?.required">
                    Se requiere ingresar nueva contraseña </small>
                </div>
              </div>

              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="tim-icons icon-lock-circle"></i></span>
                  </div>
                  <input class="form-control" formControlName="confirmedPassword" maxlength="128"
                    placeholder="Confirme Nueva Contraseña" type="password">
                </div>
                <div
                  *ngIf="changePasswordForm.controls.confirmedPassword.invalid && changePasswordForm.controls.confirmedPassword.touched">
                  <small id="msgConfirPassMin" class="text-left"
                    *ngIf="changePasswordForm.controls.confirmedPassword.errors?.minlength">
                    La longitud minima es 6 caracteres</small>
                  <small id="msgConfirPassReq" class="text-left"
                    *ngIf="changePasswordForm.controls.confirmedPassword.errors?.required">
                    Se requiere ingresar confirmar nueva contraseña</small>
                </div>
              </div>

              <div *ngIf="diferent"><small id="samePass" class="text-left">
                  La nueva contraseña y confirmacion contraseña no coinciden</small></div>
              <div class="text-center">
                <button type="submit" id="btn-change-password" class="btn btn-primary mt-4"
                  [disabled]="changePasswordForm.invalid">Cambiar
                  Contraseña</button>
                <button id="btnBack" type="button" class="btn btn-primary mt-4"  (click)="goBack()"
                  >Atras</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>