<form [formGroup]="updateLicenceForm">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="label-dateRange" class="col-form-label">Fechas</label>
                    <input readonly type="text" placeholder="Rango de Fechas" class="form-control" bsDaterangepicker
                        formControlName="dateRange" [minDate]="minDate" [bsConfig]="{ 
                        rangeInputFormat :'YYYY-MM-DD' , 
                        dateInputFormat: 'YYYY-MM-DD' ,
                        containerClass:'theme-blue',  
                        displayOneMonthRange: true
                    }">

                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="label-user" class="col-form-label">Usuario</label>
                    <input type="text" class="form-control" formControlName="fullName">

                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="labelDescription" class="col-form-label">Descripción</label>
                    <input type="text" class="form-control" placeholder="Descripcion" formControlName="description"
                        maxlength="255" />
                    <div
                        *ngIf="updateLicenceForm.controls.description.invalid && updateLicenceForm.controls.description.touched">
                        <small id="required-description" class="text-left"
                            *ngIf="updateLicenceForm.controls.description.errors?.required">
                            Se requiere descripción</small>
                        <small id="minlength-description" class="text-left"
                            *ngIf="updateLicenceForm.controls.description.errors?.minlength">
                            Se requiere al menos 5 caracteres</small>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="modal-footer">
        <button type="submit" id="btn-update-licence" class="btn btn-primary" (click)="updateLicence()"
            [disabled]="updateLicenceForm.invalid">Crear
            Licencia</button>
    </div>
</form>