<form [formGroup]="createScheduleForm">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nombre</label>
                    <input type="text" placeholder="Nombre" class="form-control" formControlName="name" maxlength="150">
                    <div *ngIf="createScheduleForm.controls.name.invalid && createScheduleForm.controls.name.touched">
                        <small id="required-schedule-name" class="text-left"
                            *ngIf="createScheduleForm.controls.name.errors?.required">
                            Se requiere nombre</small>
                        <small id="minlength-schedule-name" class="text-left"
                            *ngIf="createScheduleForm.controls.name.errors?.minlength">
                            La longitud minima es 5 caracteres</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Descripción</label>
                    <input type="text" placeholder="Descripcion" class="form-control" formControlName="description"
                        maxlength="200">
                    <div
                        *ngIf="createScheduleForm.controls.description.invalid && createScheduleForm.controls.description.touched">
                        <small id="required-schedule-description" class="text-left"
                            *ngIf="createScheduleForm.controls.description.errors?.required">
                            Se requiere descripción</small>
                        <small id="minlength-schedule-description" class="text-left"
                            *ngIf="createScheduleForm.controls.description.errors?.minlength">
                            La longitud minima es 5 caracteres</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Tolerancia (Min)</label>
                    <input type="number" placeholder="Tolerancia" class="form-control" formControlName="toleranceTime"
                        min="0">
                    <div
                        *ngIf="createScheduleForm.controls.toleranceTime.invalid && createScheduleForm.controls.toleranceTime.touched">
                        <small id="required-schedule-toleranceTime" class="text-left"
                            *ngIf="createScheduleForm.controls.toleranceTime.errors?.required">
                            Se requiere tiempo de tolerancia</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex  justify-content-center">
            <div class="form-group hour">
                <label for="label-hour-entry">Hora Entrada</label>
                <timepicker formControlName="entryHour" [showMeridian]="false" [showSpinners]="true"
                    (isValid)=" isInvalidRangeHour()">
                </timepicker>
                <div *ngIf="createScheduleForm.controls.entryHour.errors?.required">
                    <small id="required-schedule-entry-hour" class="text-left">
                        Se requiere una hora de entrada</small>
                </div>
            </div>


            <div class="form-group">
                <label for="labelHourExit">Hora Salida</label>
                <timepicker formControlName="exitHour" [showMeridian]="false" [showSpinners]="true"
                    (isValid)=" isInvalidRangeHour()">
                </timepicker>
                <div *ngIf="createScheduleForm.controls.exitHour.errors?.required">
                    <small id="required-schedule-exit-hour" class="text-left">
                        Se requiere una hora de salida</small>
                </div>
            </div>
        </div>

        <div class="d-flex  justify-content-center" *ngIf="isInvalidRangeHour()" id="invalid-range-hour">
            <small>Rango de horas no permitido</small>
        </div>

        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 days">
                <label for="labelSelectDays" class="col-form-label">Seleccione Dias</label>
                <div class="btn-group">
                    <label class="btn  btn-day-inactive" formControlName="monday" btnCheckbox tabindex="0" 
                        [ngClass]="createScheduleForm.value.monday ? 'btn-day-active' : 'btn-day-inactive' "
                        role="button">Lu</label>

                    <label class="btn"
                        [ngClass]="createScheduleForm.value.tuesday ? 'btn-day-active' : 'btn-day-inactive' "
                        btnCheckbox tabindex="0" formControlName="tuesday" role="button">Ma
                    </label>

                    <label class="btn" btnCheckbox tabindex="0" formControlName="wednesday"
                        [ngClass]="createScheduleForm.value.wednesday ? 'btn-day-active' : 'btn-day-inactive' "
                        role="button">Mi</label>

                    <label class="btn" btnCheckbox tabindex="0" formControlName="thursday"
                        [ngClass]="createScheduleForm.value.thursday ? 'btn-day-active' : 'btn-day-inactive' "
                        role="button">Ju</label>

                    <label class="btn" btnCheckbox tabindex="0" formControlName="friday"
                        [ngClass]="createScheduleForm.value.friday ? 'btn-day-active' : 'btn-day-inactive' "
                        role="button">Vi</label>

                    <label class="btn" btnCheckbox tabindex="0" formControlName="saturday"
                        [ngClass]="createScheduleForm.value.saturday ? 'btn-day-active' : 'btn-day-inactive' "
                        role="button">Sa</label>

                    <label class="btn" btnCheckbox tabindex="0" formControlName="sunday"
                        [ngClass]="createScheduleForm.value.sunday ? 'btn-day-active' : 'btn-day-inactive' "
                        role="button">Do</label>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" id="btn-create-schedule" class="btn btn-primary" [disabled]="createScheduleForm.invalid || isInvalidRangeHour()"
            (click)="createSchedule()">Crear Horario</button>
    </div>
</form>