<div class="content">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Opciones</h3>
                </div>
                <div class="card-header">
                    <div class="card-header border-0 container d-flex justify-content-center">
                        <div class="d-flex flex-column ">
                            <div class="row d-flex justify-content-center">
                                <button class="btn btn-settings col-sm-4 mb-2 {{menuItem.class}}" id="{{menuItem.id}}"
                                    *ngFor="let menuItem of menuItems" [routerLink]="[menuItem.path]">
                                    <i class="{{ menuItem.icon }}  {{menuItem.class}}"></i>
                                    &nbsp; {{ menuItem.title }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>