.btn-settings {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  padding-right: 13px !important;
  padding-left: 13px !important;
  background: transparent !important;
  border-color: #5e72e4 !important;
  color: #5e72e4 !important;
  border: 2px solid #5e72e4 !important;
}

.btn-settings:hover {
  background: transparent !important;
}

.btn {
  font-size: 12px;
  margin-right: 15px;
  background-color: transparent !important;
}
