<div class="content">
    <div class="row">
        <full-calendar id="fullCalendar" #calendar [options]='calendarOptions' style="width: 100%" class="show-content">
        </full-calendar>
    </div>
</div>


<!--Sweet Alert Options-->
<swal #swalOptions [title]="'¿Que acción desea realizar?'" [showDenyButton]="true" [showCancelButton]="true"
    [confirmButtonText]="'Editar'" [denyButtonText]="'Eliminar'" [cancelButtonText]="'Cancelar'"
    (confirm)="showModalUpdateTask()" (deny)=" removeTask()">
</swal>




<!-- Modal Create Task -->
<div bsModal class="modal fade" #modalCreateTask="bs-modal" [config]="{backdrop: 'static'}"
    (onHidden)="taskCreateOk=false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg" style="    transform: translate(0, 10%);">
        <div class="modal-content card">
            <div class="modal-header">
                <h4>Nuevo Task</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="modalCreateTask.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <app-create-task (close)="modalCreateTask.hide(); getAllTasks();" [inputDateSelected]="dateSelect"
                *ngIf="taskCreateOk"></app-create-task>
        </div>
    </div>
</div>




<!-- Modal Update Task -->
<div bsModal class="modal fade" #modalUpdateTask="bs-modal" [config]="{backdrop: 'static'}"
    (onHidden)="taskSelectedOk = false" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg" style="    transform: translate(0, 10%);">
        <div class="modal-content card">
            <div class="modal-header">
                <h4>Editar Task</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="modalUpdateTask.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <app-update-task (close)="modalUpdateTask.hide(); getAllTasks();" [taskSelected]="taskSelected"
                *ngIf="taskSelectedOk"></app-update-task>
        </div>
    </div>
</div>