.card-category {
  font-weight: bold !important;
  // color :  #5e72e4 !important;
}

.text-time-states {
  color: #5e72e4 !important;
}

.text-absent-states {
  color: #e04a2f !important;
}

.text-later-states {
  color: #dcaa2b !important;
}

.card-title {
  font-weight: bold !important;
}

 