<div class="content contacts">

    <ngx-contact-list [noSmoothScroll]="false" propAlphaOrder="name" (onClick)="selected($any($event))"
        [propsSearch]="filters" placeholder="Contacto" [data]="listUsers" listClass="search-list" [withTemplate]="true"
        [height]="height + 'px' ">
        <ng-template let-user>
            <div class="search-list-item">
                <img [src]="imageExist(user)" alt="user-image">
                <span>
                    <small>
                        {{user.name }}
                    </small>
                    <br />
                    <small>
                        {{ user.fatherLastName}}
                    </small>
                    <br />
                    <small>
                        {{ user.motherLastName }}
                    </small>
                    <br />
                    <small class="phone-small">
                        {{user.phone | phone}}
                    </small>
                </span>
            </div>
        </ng-template>
    </ngx-contact-list>


</div>