<div class="content">
    <div class="row">
        <full-calendar #calendar [options]='calendarOptions' style="width: 100%" class="show-content"></full-calendar>
    </div>
</div>




<!-- Modal View Task -->
<div bsModal class="modal fade" #modaViewTask="bs-modal" [config]="{backdrop: 'static'}" (onHidden)="listTaskByUser() ; taskViewOk = false"
    tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg" style="    transform: translate(0, 10%);">
        <div class="modal-content card">
            <div class="modal-header">
                <h4>View Task</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="modaViewTask.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <app-calendar-view-detail [taskSelected]="dateSelect" *ngIf="taskViewOk"></app-calendar-view-detail>

        </div>
    </div>
</div>