<form [formGroup]="updateChargueForm">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="labelName" class="col-form-label">Nombre</label>
                    <input type="text" placeholder="Nombre" class="form-control" formControlName="name" maxlength="255">
                    <div *ngIf="updateChargueForm.controls.name.invalid && updateChargueForm.controls.name.touched">
                        <small id="required-name" class="text-left"
                            *ngIf="updateChargueForm.controls.name.errors?.required">
                            Se requiere nombre</small>
                        <small id="minLenght-name" class="text-left"
                            *ngIf="updateChargueForm.controls.name.errors?.minlength">
                            La longitud minima es 2 caracteres</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="form-group">
                    <label for="status" class="col-form-label">Descripción</label>
                    <input type="text" class="form-control" placeholder="Descripcion" formControlName="description"
                        maxlength="255" />
                    <div
                        *ngIf="updateChargueForm.controls.description.invalid && updateChargueForm.controls.description.touched">
                        <small id="required-description" class="text-left"
                            *ngIf="updateChargueForm.controls.description.errors?.required">
                            Se requiere descripción</small>
                        <small id="minLenght-description" class="text-left"
                            *ngIf="updateChargueForm.controls.description.errors?.minlength">
                            La longitud minima es 2 caracteres</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" id="btn-update-chargue" class="btn btn-primary" (click)="updateChargue()"
            [disabled]="updateChargueForm.invalid">Actualizar
            Cargo</button>
    </div>
</form>