<div class="content">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0" id="title">Licencias</h3>
                </div>
                <br />
                <form [formGroup]="licenceForm">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="Empleado" formControlName="fullName"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                </form>

                <div class="card-header">
                    <button id="btn-new-licence" type="button" class="btn info" (click)="showModalCreateLicence()">
                        <a><i class="fa-solid fa-ticket-simple" aria-hidden="true"></i>
                            Nuevo</a>
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button id="pdf-licence" type="button" class="btn danger">
                        <a> <i class="fa fa-file-pdf" aria-hidden="true"></i> PDF</a>
                    </button>
                </div>

                <div class="table-responsive" style="padding:5px">
                    <table class=" table ">
                        <thead class=" text-primary">
                            <tr>
                                <th scope="col">Usuario</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let licence of listLicence   |      
                        filterLicence : [licenceForm.getRawValue().fullName]  |  
                        paginate:{itemsPerPage: 5, currentPage:p}">
                            <tr>
                                <td>
                                    {{licence.fullName}}
                                </td>
                                <td>
                                    {{licence.description}}
                                </td>

                                <td class="options">
                                    <i (click)="showModalUpdateLicence(licence)" class="tim-icons icon-pencil"></i>
                                </td>
                                <td class="options" [swal]="{
                                    title: 'Eliminar Licencia',
                                    icon: 'warning',
                                    showCancelButton: true,
                                    text: 'Se va eliminar la licencia de ' +licence.fullName  + ' , ¿Esta seguro?',
                                    confirmButtonText: 'Confirmar',
                                    cancelButtonText: 'Cancelar'}" (confirm)="deleteLicence(licence.id)">
                                    <i class="tim-icons  icon-simple-remove"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container d-flex justify-content-center ">
                    <pagination-controls (pageChange)="p=$event" previousLabel="Anterior" nextLabel="Siguiente"
                        class="paginator" [responsive]="true">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal Create Licence -->
<div bsModal class="modal fade" #modalCreateLicence="bs-modal" [config]="{backdrop: 'static'}"
    (onHidden)="getAllLicence(); showModalCreateLicenceOk = false" tabindex="-1" role="dialog"
    aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content card">
            <div class="modal-header">
                <h4>Nueva Licencia</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="modalCreateLicence.hide(); showModalCreateLicenceOk = false">
                    <span>&times;</span>
                </button>
            </div>
            <app-create-licence (close)="modalCreateLicence.hide()" *ngIf="showModalCreateLicenceOk">
            </app-create-licence>
        </div>
    </div>
</div>



<!-- Modal Update Licence-->
<div bsModal class="modal fade" #modalUpdateLicence="bs-modal" [config]="{backdrop: 'static'}"
    (wishEvent)="showModalUpdateLicenceOk = false" (onHidden)="getAllLicence() ; showModalUpdateLicenceOk = false"
    tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content card">
            <div class="modal-header">
                <h4>Editar Licencia</h4>
                <button id="modalUpdateClose" type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="modalUpdateLicence.hide()">
                    <span>&times;</span>
                </button>
            </div>
            <app-update-licence (close)="modalUpdateLicence.hide()" [inputLicence]="selectedLicence"
                *ngIf="showModalUpdateLicenceOk">
            </app-update-licence>
        </div>
    </div>
</div>