<form [formGroup]="updateUserForm">
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="labelEmail" class="col-form-label">Email</label>
          <input type="text" class="form-control" readonly formControlName="username">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="labelCreateAt" class="col-form-label">Fecha Creacion</label>
          <input type="text" class="form-control" readonly formControlName="createdAt">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="labeUpdateAt" class="col-form-label">Fecha Modificacion</label>
          <input type="text" class="form-control" readonly formControlName="updateAt">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="labelName" class="col-form-label">Nombres</label>
          <input type="text" class="form-control" formControlName="name" oninput="alpha(this)" maxlength="80"
            placeholder="Nombre">
          <div *ngIf="updateUserForm.controls.name.invalid && updateUserForm.controls.name.touched">
            <small id="required-name" class="text-left" *ngIf="updateUserForm.controls.name.errors?.required">
              Se requiere ingresar nombres</small>
            <small id="minlength-name" class="text-left" *ngIf="updateUserForm.controls.name.errors?.minlength">
              La longitud minima del nombre es de 2 caracteres</small>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="labelFatherLastName" class="col-form-label">Apellido Paterno</label>
          <input type="text" class="form-control" formControlName="fatherLastName" oninput="alpha(this)"
            placeholder="Apellido Paterno" maxlength="120">
          <div *ngIf="updateUserForm.controls.fatherLastName.invalid && updateUserForm.controls.fatherLastName.touched">
            <small id="required-father-lastname" class="text-left"
              *ngIf="updateUserForm.controls.fatherLastName.errors?.required">
              Se requiere ingresar apellido paterno</small>
            <small id="minlength-father-lastname" class="text-left"
              *ngIf="updateUserForm.controls.fatherLastName.errors?.minlength">
              La longitud minima del apellido paterno es de 2 caracteres</small>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="labelMotherLastName" class="col-form-label">Apellido Materno</label>
          <input type="text" class="form-control" formControlName="motherLastName" oninput="alpha(this)"
            placeholder="Apellido Materno" maxlength="120">
          <div *ngIf="updateUserForm.controls.motherLastName.invalid && updateUserForm.controls.motherLastName.touched">
            <small id="required-mother-lastname" class="text-left"
              *ngIf="updateUserForm.controls.motherLastName.errors?.required">
              Se requiere ingresar apellido materno</small>
            <small id="minlength-mother-lastname" class="text-left"
              *ngIf="updateUserForm.controls.motherLastName.errors?.minlength">
              La longitud minima del apellido materno es de 2 caracteres</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="labelStatus" class="col-form-label">Estado</label>
          <select id="inputEstado" class="form-control" formControlName="status">
            <option [value]="'CREADO'">CREADO</option>
            <option [value]="'HABILITADO'">HABILITADO</option>
            <option [value]="'RESETEADO'">RESETEADO</option>
            <option [value]="'BLOQUEADO'">BLOQUEADO</option>
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="labelRole" class="col-form-label">Rol</label>
          <select id="inputEstado" class="form-control" formControlName="role">
            <option [value]="'admin'">admin</option>
            <option [value]="'employee'">empleado</option>
          </select>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="labelPhone" class="col-form-label">Celular</label>
          <input type="text" class="form-control" formControlName="phone" maxlength="9" placeholder="celular" oninput="process(this)" />
          <div *ngIf="updateUserForm.controls.phone.invalid && updateUserForm.controls.phone.touched">
            <small id="required-phone" class="text-left" *ngIf="updateUserForm.controls.phone.errors?.required">
              Se requiere ingresar celular <br /></small>
            <small id="minlength-phone" class="text-left" *ngIf="updateUserForm.controls.phone.errors?.minlength">
              La longitud minima del celular es de 9 caracteres</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="labelChargue" class="col-form-label">Cargo</label>
          <ng-select [items]="listChargue" [closeOnSelect]="true" [hideSelected]="true" bindValue="id"
            [clearable]="false" bindLabel="name" placeholder="Seleccionar cargo" formControlName="codChargue">
          </ng-select>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="labelSchedule" class="col-form-label">Horario</label>
          <ng-select [items]="listSchedule" bindLabel="name" bindValue="id" [clearable]="false" [closeOnSelect]="true"
            formControlName="codSchedule" placeholder="Seleccionar Horario" [hideSelected]="true">
            <ng-template ng-option-tmp let-item="item">
              <span> {{item.name}} </span>
              <span> - {{item.description}}</span>
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button id="btn-update-user" type="submit" class="btn btn-primary" (click)="updateUser()"
      [disabled]="updateUserForm.invalid">Actualizar</button>
  </div>
</form>