.btn.info {
  border-radius: 100%;
  margin-right: 5px;
  width: 41px;
  height: 41px;
  @media screen and (max-width: 386px) {
    margin-right: 0px;
  }
}

.name {
  border-width: 2px;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.35em;
  text-align: center;
  margin: 4px 1px;
  border-radius: 100%;
  margin-right: 5px;
  @media screen and (max-width: 386px) {
    margin-right: 0px;
  }
  width: 41px;
  height: 41px;
  background-color: transparent !important;
  background: transparent !important;
}

.current-week-title {
  margin-bottom: -20px;
}

.success {
  background: #5e72e4 !important;
  opacity: 1 !important;
  ::after {
    background: #5e72e4 !important;
  }

  :hover {
    background: #5e72e4 !important;
  }
}

.absent {
  background: #ea5a52 !important;
  opacity: 1 !important;
}

.warning {
  background: #e6a919 !important;
  opacity: 1 !important;
  ::after {
    background: #e6a919 !important;
  }

  :hover {
    background: #e6a919 !important;
  }
}

i {
  font-family: 'FontAwesome';
  font-size: 1.26rem !important;
  font-weight: 900 !important;
}

.content {
  @media screen and (max-width: 420px) {
    padding-left: 15px !important;
  }
}


