<div>
  <a>
    <div>
      <img style="max-width:80%" src="./assets/img/logo.png" />
    </div>
  </a>
</div>
<div class="sidebar-wrapper"  (swiperight)="onSwipe($event)"  (swipeleft)="onSwipe($event)">
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item">
      <a [routerLink]="[menuItem.path]"    id="{{menuItem.id}}">
        <i class="  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>