<form [formGroup]="createLicenceForm">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="labelDateRange" class="col-form-label">Fechas</label>
                    <input readonly type="text" placeholder="Rango de Fechas" class="form-control" bsDaterangepicker
                        formControlName="dateRange" [minDate]="minDate">
                    <div
                        *ngIf="createLicenceForm.controls.dateRange.invalid && createLicenceForm.controls.dateRange.touched">
                        <small id="required-dateRange" class="text-left"
                            *ngIf="createLicenceForm.controls.dateRange.errors?.required">
                            Se requieren fechas</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="labelUser" class="col-form-label">Usuario</label>
                    <ng-select [items]="listUsers" [multiple]="false" [closeOnSelect]="true" [hideSelected]="true"
                        bindValue="id" [clearable]="false" bindLabel="name" placeholder="Seleccionar usuario"
                        formControlName="codUser">
                    </ng-select>
                    <div
                        *ngIf="createLicenceForm.controls.codUser.invalid && createLicenceForm.controls.codUser.touched">
                        <small id="required-user" class="text-left"
                            *ngIf="createLicenceForm.controls.codUser.errors?.required">
                            Se requiere usuario</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="labelDescription" class="col-form-label">Descripción</label>
                    <input type="text" class="form-control" placeholder="Descripcion" formControlName="description"
                        maxlength="255" />
                    <div
                        *ngIf="createLicenceForm.controls.description.invalid && createLicenceForm.controls.description.touched">
                        <small id="required-description" class="text-left"
                            *ngIf="createLicenceForm.controls.description.errors?.required">
                            Se requiere descripción</small>

                        <small id="minlength-description" class="text-left"
                            *ngIf="createLicenceForm.controls.description.errors?.minlength">
                            Se requiere al menos 5 caracteres</small>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal-footer">
        <button type="submit" id="btn-create-licence" class="btn btn-primary" (click)="createLicence()"
            [disabled]="createLicenceForm.invalid">Crear
            Licencia</button>
    </div>
</form>